SECRET_KEY=
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
# db
DATABASE_DB=
DATABASE_USER=
DATABASE_PASSWORD=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

SQLALCHEMY_DATABASE_URI=
TEST_DATABASE_URI=
SQLALCHEMY_TRACK_MODIFICATIONS=False
# mail
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=False
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
# pagination
URLS_PER_PAGE=10
ITEMS_PER_PAGE=20
# rabbitmq
TASK_BROKER_URI=
TASK_CONCURRENCY=2
TASK_LOG_FILE=task.log
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DISK_FREE_LIMIT=102400000
# other
LOG_CONFIG=logging.cfg
WORKERS=
CORE_DOMAIN=