{% extends 'core/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block app_content %}
    <h1>{{ dataframe.name }}</h1>
    <p>
        {% if dataframe.description %}
            {{ dataframe.description }}
        {% endif %}
    </p>
    {% if dataframe.checks %}
        <br/>
        <br/>
        <p><b>Проверки датафрейма:</b></p>
        <div class="row">
            <div class="col-xs-6">
                <select name="checks" id="checks" class="">
                    {% for check_i in dataframe.checks %}
                        {% if check.id == check_i.id %}
                            <option selected value="{{ check_i.id }}">{{ check_i.name }}
                                | {{ check_i.start_time.strftime('%Y-%m-%d %H:%M')}}
                                | {% if check_i.end_time %}{{ check_i.end_time.strftime('%Y-%m-%d %H:%M') }}{% endif %}
                            </option>
                        {% else %}
                            <option value="{{ check_i.id }}">{{ check_i.name }}
                                | {{ check_i.start_time.strftime('%Y-%m-%d %H:%M')}}
                                | {% if check_i.end_time %}{{ check_i.end_time.strftime('%Y-%m-%d %H:%M') }}{% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% if check and is_extracting_data %}
                <div class="col-xs-6">
                    Идёт извлечение данных...
                    <a href="{{ url_for('core.check_stop', pk=check.id, job='extract') }}">Остановить задачу</a>
                </div>
            {% elif (check and not is_checking) %}
                <div class="col-xs-2">
                    <a href="{{ url_for('core.check_extract_data', pk=check.id) }}">Извлечь данные</a>
                </div>
                <div class="col-xs-2 text-center">
                    <a href="{{ url_for('core.check_extract_data', pk=check.id, only_new=0) }}">Переизвлечь все данные</a>
                </div>
                <div class="col-xs-2 text-right">
                    <a href="{{ url_for('core.check_extract_data', pk=check.id, test=1) }}">Тест извлечения</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br/>
                {% if check.id == dataframe.active_check.id %}
                    Активная проверка
                {% else %}
                    <a href="{{ url_for('core.check_activate', pk=check.id) }}">Активировать проверку</a>
                {% endif %}
                 /
                <a href="{{ url_for('core.check_edit', pk=check.id) }}">Редактировать проверку</a>
                <br/>
                <br/>
                <a href="{{ url_for('core.check_delete', pk=check.id) }}">Удалить проверку</a>
            </div>
        </div>
    {% endif %}
    <br/>
    <br/>
    {% with prev_items = (urls.page - 1) * urls.per_page %}
        <p>Ссылки: {{ [prev_items + 1, urls.total] | min }} - {{ [prev_items + urls.per_page, urls.total] | min }} из {{ urls.total }}</p>
    {% endwith %}
    <br/>
    <table class="table table-hover">
        <tr>
            <th>Url</th>
            <th>Статус</th>
            <th>Обработан?</th>
        </tr>
        {% for url in urls.items %}
        <tr>
            {% if url.is_handled %}
                <td><a href="{{ url_for('core.url', pk=url.id, check=check.id) }}">{{ url.url }}</a></td>
            {% else %}
                <td>{{ url.url }}</td>
            {% endif %}
            <td>{% if url.status %}{{ url.status }}{% else %}{% endif %}</td>
            <td>{% if url.is_handled%}+{% else %}-{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    {{ render_pagination(urls) }}
    <div class="row">
        {% if check and is_checking %}
            <div class="col-xs-6">
                Идёт получение данных...
            </div>
            <div class="col-xs-6">
                <a href="{{ url_for('core.check_stop', pk=check.id, job='check') }}">Остановить проверку</a>
            </div>
        {% else %}
            <div class="col-xs-3">
                <a href="{{ url_for('core.dataframe_check', pk=dataframe.id) }}">Запустить проверку</a>
                <br/>
                <br/>
                <a href="{{ url_for('core.dataframe_check_new', pk=check.id) }}">Допроверить</a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="{{ url_for('core.dataframe_edit', pk=dataframe.id) }}{% if check %}?check={{ check.id }}{% endif %}">Редактировать датафрейм</a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="{{ url_for('core.dataframe_selectors', pk=dataframe.id) }}">Установить селекторы</a>
            </div>
            <div class="col-xs-3  text-right">
                <a href="{{ url_for('core.dataframe_delete', pk=dataframe.id) }}">Удалить датафрейм</a>
            </div>
        {% endif %}
    </div>
{% endblock %}