{% extends 'core/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if title %}
        <h1>{{ title }}</h1>
    {% endif %}

    <form action="" method="post" class="form form-horizontal settings" role="form">
        {{ form.hidden_tag() }}
        <table width="100%">
            <tr>
                <th></th>
                <th>Название</th>
                <th>Код</th>
                <th>Удалить?</th>
            </tr>
        {% for property_form in form.properties %}
            {{ wtf.form_errors(property_form) }}
            <tr>
                <td>{{ wtf.form_field(property_form.form.id) }}</td>
                <td>{{ wtf.form_field(property_form.form.name) }}</td>
                <td>{{ wtf.form_field(property_form.code) }}</td>
                <td style="text-align: center;">{{ wtf.form_field(property_form.delete) }}</td>
            </tr>
        {% endfor %}
        </table>
        <br/>
        {{ wtf.form_field(form.submit, class_='btn btn-primary') }}
    </form>
{% endblock %}