{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block app_content %}
    <h1>{{ dataframe.name }}</h1>
    <p>
        {{ dataframe.description }}
    </p>
    {% if dataframe.checks %}
        <br/>
        <br/>
        <p><b>Проверки датафрейма:</b></p>
        <div class="row">
            <div class="col-xs-6">
                <select name="checks" id="checks" class="">
                    {% for check in dataframe.checks %}
                        {% if check.id == check_id %}
                            <option selected value="{{ check.id }}">{{ check.name }}
                                | {{ check.start_time.strftime('%Y-%m-%d %H:%M')}}
                                | {% if check.end_time %}{{ check.end_time.strftime('%Y-%m-%d %H:%M') }}{% endif %}
                            </option>
                        {% else %}
                            <option value="{{ check.id }}">{{ check.name }}
                                | {{ check.start_time.strftime('%Y-%m-%d %H:%M')}}
                                | {% if check.end_time %}{{ check.end_time.strftime('%Y-%m-%d %H:%M') }}{% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-2">
                <a href="{{ url_for('routes.check_extract_data', pk=check_id) }}">Обработать данные</a>
            </div>
            <div class="col-xs-2">
                <a href="{{ url_for('routes.check_edit', pk=check_id) }}">Изменить проверку</a>
            </div>
            <div class="col-xs-2">
                <a href="{{ url_for('routes.check_delete', pk=check_id) }}">Удалить проверку</a>
            </div>
        </div>
    {% endif %}
    <br/>
    <br/>
    {% with prev_items = (urls.page - 1) * urls.per_page %}
        <p>Ссылки: {{ [prev_items + 1, urls.total] | min }} - {{ [prev_items + urls.per_page, urls.total] | min }} из {{ urls.total }}</p>
    {% endwith %}
    <br/>
    <table class="table table-hover">
        <tr>
            <th>Url</th>
            <th>Status</th>
        </tr>
        {% for url in urls.items %}
        <tr>
            <td>{{ url.url }}</td>
            {% if url.status %}
                <td>{{ url.status }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {{ render_pagination(urls) }}
    <div class="row">
        <div class="col-xs-4">
            <a href="{{ url_for('routes.dataframe_check', pk=dataframe.id) }}">Запустить проверку</a>
        </div>
        <div class="col-xs-4 text-center">
            <a href="{{ url_for('routes.dataframe_edit', pk=dataframe.id) }}{% if check_id %}?check={{ check_id }} {% endif %}">Редактировать датафрейм</a>
        </div>
        <div class="col-xs-4  text-right">
            <a href="{{ url_for('routes.dataframe_delete', pk=dataframe.id) }}">Удалить датафрейм</a>
        </div>
    </div>
{% endblock %}